[user]
    name =  Noha Radwan
    email = nradwan7@gmail.com
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[core]
    editor = code --wait
    autocrlf = input
[merge]
    conflictstyle = diff3
