[user]
    name =  Noha Radwan
    email = nradwan7@gmail.com
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[diff]
    guitool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    conflictstyle = diff3

